

.vjs-overlay.vjs-overlay-right1
{
  position: absolute;
  height: 15%;
  width: 10%;
  left: auto;
  right: 0;
  top: 5%;
  margin-right: 2%;
  cursor: pointer;
}

.vjs-overlay.vjs-overlay-right2 
{
  position: absolute;
  height: 15%;
  width: 12.5%;
  left: auto;
  right: 0;
  top: 22%;
  margin-right: 2%;
  cursor: pointer;
}

.vjs-overlay.vjs-overlay-right3 
{
  position: absolute;
  height: 15%;
  width: 10%;
  left: auto;
  right: 0;
  top: 39%;
  margin-right: 2%;
  cursor: pointer;
}


.vjs-overlay.vjs-overlay-right4 
{
  position: absolute;
  height: 15%;
  width: 10%;
  left: auto;
  right: 0;
  top: 56%;
  margin-right: 2%;
  cursor: pointer;
}

